Repository unikraft/unikraft, changes with the owners that .github/CODEOWNERS names for each.
All owners: @unikraft/maintainers-core, @unikraft/reviewers-core, @unikraft/maintainers-api, @unikraft/reviewers-api, @unikraft/maintainers-arch-arm, @unikraft/reviewers-arch-arm, @unikraft/maintainers-arch-x86, @unikraft/reviewers-arch-x86, @unikraft/maintainers-plat-kvm, @unikraft/reviewers-plat-kvm, @unikraft/maintainers-plat-xen, @unikraft/reviewers-plat-xen, @unikraft/maintainers-plat-linuxu, @unikraft/reviewers-plat-linuxu, @unikraft/maintainers-sched, @unikraft/reviewers-sched, @unikraft/maintainers-mem, @unikraft/reviewers-mem, @unikraft/maintainers-security, @unikraft/reviewers-security, @unikraft/maintainers-net, @unikraft/reviewers-net, @unikraft/maintainers-fs, @unikraft/reviewers-fs, @unikraft/maintainers-device, @unikraft/reviewers-device, @unikraft/maintainers-build, @unikraft/reviewers-build, @unikraft/maintainers-debug, @unikraft/reviewers-debug

arch/arm/arm64: Add ARM64 spinlock implementation
  arch/arm/arm64/include/uk/asm/spinlock.h
Owners: @unikraft/maintainers-arch-arm, @unikraft/reviewers-arch-arm

plat, lib/uk9p: Fix existing spinlock declarations
  lib/uk9p/9pdev.c
  lib/uk9p/include/uk/9pdev_core.h
  plat/drivers/virtio/virtio_9p.c
  plat/xen/drivers/9p/9pfront.c
  plat/xen/drivers/9p/9pfront.h
  plat/xen/include/xenbus/xenbus.h
  plat/xen/xenbus/xs_comms.c
  plat/xen/xenbus/xs_watch.c
Owners: @unikraft/maintainers-fs, @unikraft/reviewers-fs, @unikraft/maintainers-core, @unikraft/reviewers-core, @unikraft/maintainers-plat-xen, @unikraft/reviewers-plat-xen

include/uk/arch/spinlock.h: Rewrite spinlock header
  include/uk/arch/spinlock.h
Owners: @unikraft/maintainers-api, @unikraft/reviewers-api

lib/uklock: Add spinlock common header to uklock lib
  lib/uklock/include/uk/spinlock.h
Owners: @unikraft/maintainers-sched, @unikraft/reviewers-sched

arch/x86/x86_64: Add x86_64 spinlock implementation
  arch/x86/x86_64/include/uk/asm/spinlock.h
Owners: @unikraft/maintainers-arch-x86, @unikraft/reviewers-arch-x86

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

# These owners are the default owners for all Unikraft core files.
*			@unikraft/maintainers-core @unikraft/reviewers-core

# These owners oversee the core parts of Unikraft.
/lib/isrlib/		@unikraft/maintainers-core @unikraft/reviewers-core
/lib/nolibc/		@unikraft/maintainers-core @unikraft/reviewers-core
/lib/uktime/		@unikraft/maintainers-core @unikraft/reviewers-core
/lib/uktimeconv/	@unikraft/maintainers-core @unikraft/reviewers-core
/lib/uklibparam/	@unikraft/maintainers-core @unikraft/reviewers-core
/lib/posix-libdl	@unikraft/maintainers-core @unikraft/reviewers-core
/lib/syscall_shim/	@unikraft/maintainers-core @unikraft/reviewers-core
/lib/ukboot/		@unikraft/maintainers-core @unikraft/reviewers-core
/lib/ukargparse/	@unikraft/maintainers-core @unikraft/reviewers-core
/lib/uksglist/		@unikraft/maintainers-core @unikraft/reviewers-core

# These owners oversee the APIs.
/include/		@unikraft/maintainers-api @unikraft/reviewers-api
/arch/*/include/	@unikraft/maintainers-api @unikraft/reviewers-api
/arch/*/*/include/	@unikraft/maintainers-api @unikraft/reviewers-api
/plat/include/		@unikraft/maintainers-api @unikraft/reviewers-api

# These owners oversee the ARM architecture.
/lib/fdt/		@unikraft/maintainers-arch-arm @unikraft/reviewers-arch-arm
/arch/arm/		@unikraft/maintainers-arch-arm @unikraft/reviewers-arch-arm

# These owners oversee the x86 architecture.
/arch/x86/		@unikraft/maintainers-arch-x86 @unikraft/reviewers-arch-x86

# These owners oversee the KVM platform.
/plat/kvm/		@unikraft/maintainers-plat-kvm @unikraft/reviewers-plat-kvm

# These owners oversee the Xen platform.
/plat/xen/		@unikraft/maintainers-plat-xen @unikraft/reviewers-plat-xen

# These owners oversee the linuxu platform.
/plat/linuxu/		@unikraft/maintainers-plat-linuxu @unikraft/reviewers-plat-linuxu

# These owners oversee the scheduler-related components.
/lib/uksched*		@unikraft/maintainers-sched @unikraft/reviewers-sched
/lib/uklock/		@unikraft/maintainers-sched @unikraft/reviewers-sched
/lib/ukmpi/		@unikraft/maintainers-sched @unikraft/reviewers-sched
/lib/posix-process/	@unikraft/maintainers-sched @unikraft/reviewers-sched

# These owners oversee the memory manangement-related components.
/lib/ukmmap/		@unikraft/maintainers-mem @unikraft/reviewers-mem
/lib/ukalloc*		@unikraft/maintainers-mem @unikraft/reviewers-mem

# These owners oversee the security-related components.
/lib/uksp/		@unikraft/maintainers-security @unikraft/reviewers-security
/lib/ukswrand/		@unikraft/maintainers-security @unikraft/reviewers-security
/lib/uksp/		@unikraft/maintainers-security @unikraft/reviewers-security

# These owners oversee the network-related components.
/lib/uknetdev/		@unikraft/maintainers-net @unikraft/reviewers-net

# These owners oversee the filesystem-related components.
/lib/vfscore/		@unikraft/maintainers-fs @unikraft/reviewers-fs
/lib/ukblkdev/		@unikraft/maintainers-fs @unikraft/reviewers-fs
/lib/posix-user/	@unikraft/maintainers-fs @unikraft/reviewers-fs
/lib/ukcpio/		@unikraft/maintainers-fs @unikraft/reviewers-fs
/lib/uk9p/		@unikraft/maintainers-fs @unikraft/reviewers-fs
/lib/9pfs/		@unikraft/maintainers-fs @unikraft/reviewers-fs
/lib/devfs/		@unikraft/maintainers-fs @unikraft/reviewers-fs
/lib/ramfs/		@unikraft/maintainers-fs @unikraft/reviewers-fs

# These owners oversee the device-related components.
/lib/ukbus/		@unikraft/maintainers-device @unikraft/reviewers-device

# These owners oversee the build system.
/Makefile		@unikraft/maintainers-build @unikraft/reviewers-build
/Makefile.uk		@unikraft/maintainers-build @unikraft/reviewers-build
/support/		@unikraft/maintainers-build @unikraft/reviewers-build

# These owners oversee the debugging support.
/lib/ukdebug/		@unikraft/maintainers-debug @unikraft/reviewers-debug
