Repository unikraft/unikraft, changes with the owners that .github/CODEOWNERS names for each.
All owners: @unikraft/maintainers-core, @unikraft/maintainers-api, @unikraft/maintainers-arch, @unikraft/maintainers-arch-arm, @unikraft/maintainers-arch-x86, @unikraft/maintainers-plat, @unikraft/maintainers-plat-kvm, @unikraft/maintainers-plat-xen, @unikraft/maintainers-plat-linuxu, @unikraft/maintainers-sched, @unikraft/maintainers-mem, @unikraft/maintainers-security, @unikraft/maintainers-net, @unikraft/maintainers-fs, @unikraft/maintainers-device, @unikraft/maintainers-build, @unikraft/maintainers-debug, @unikraft/maintainers-lang-rust, @unikraft/maintainers-test

.github/CODEOWNERS:

# https://help.github.com/articles/about-codeowners/

# These owners are the default owners for all Unikraft core files.
*			@unikraft/maintainers-core

# These owners oversee the core parts of Unikraft.
/lib/isrlib		@unikraft/maintainers-core
/lib/nolibc		@unikraft/maintainers-core
/lib/posix-libdl	@unikraft/maintainers-core
/lib/posix-sysinfo	@unikraft/maintainers-core
/lib/syscall_shim	@unikraft/maintainers-core
/lib/ukargparse		@unikraft/maintainers-core
/lib/ukboot		@unikraft/maintainers-core
/lib/uklibparam		@unikraft/maintainers-core
/lib/ukring		@unikraft/maintainers-core
/lib/uksglist		@unikraft/maintainers-core
/lib/ukstore		@unikraft/maintainers-core
/lib/uktime		@unikraft/maintainers-core
/lib/uktimeconv		@unikraft/maintainers-core

# These owners oversee the APIs.
/arch/*/*/include	@unikraft/maintainers-api
/arch/*/include		@unikraft/maintainers-api
/include		@unikraft/maintainers-api
/plat/include		@unikraft/maintainers-api

# These owners oversee all architectures.
/arch			@unikraft/maintainers-arch

# These owners oversee the ARM architecture.
/arch/arm		@unikraft/maintainers-arch-arm
/lib/fdt		@unikraft/maintainers-arch-arm
/plat/*/arm		@unikraft/maintainers-arch-arm
/plat/*/include/*-arm	@unikraft/maintainers-arch-arm

# These owners oversee the x86 architecture.
/arch/x86		@unikraft/maintainers-arch-x86
/plat/*/include/*-x86	@unikraft/maintainers-arch-x86
/plat/*/x86		@unikraft/maintainers-arch-x86

# These owners oversee all platforms.
/plat			@unikraft/maintainers-plat

# These owners oversee the KVM platform.
/plat/kvm		@unikraft/maintainers-plat-kvm

# These owners oversee the Xen platform.
/plat/xen		@unikraft/maintainers-plat-xen

# These owners oversee the linuxu platform.
/plat/linuxu/		@unikraft/maintainers-plat-linuxu

# These owners oversee the scheduler-related components.
/lib/posix-process	@unikraft/maintainers-sched
/lib/uklock		@unikraft/maintainers-sched
/lib/ukmpi		@unikraft/maintainers-sched
/lib/uksched*		@unikraft/maintainers-sched
/lib/uksignal		@unikraft/maintainers-sched

# These owners oversee the memory manangement-related components.
/lib/ukalloc*		@unikraft/maintainers-mem
/lib/ukfalloc*		@unikraft/maintainers-mem
/lib/ukmmap		@unikraft/maintainers-mem

# These owners oversee the security-related components.
/lib/ubsan		@unikraft/maintainers-security
/lib/uksp		@unikraft/maintainers-security
/lib/ukswrand		@unikraft/maintainers-security

# These owners oversee the network-related components.
/lib/uknetdev		@unikraft/maintainers-net

# These owners oversee the filesystem-related components.
/lib/9pfs		@unikraft/maintainers-fs
/lib/devfs		@unikraft/maintainers-fs
/lib/posix-user		@unikraft/maintainers-fs
/lib/ramfs		@unikraft/maintainers-fs
/lib/uk9p		@unikraft/maintainers-fs
/lib/ukblkdev		@unikraft/maintainers-fs
/lib/ukcpio		@unikraft/maintainers-fs
/lib/vfscore		@unikraft/maintainers-fs

# These owners oversee the device-related components.
/lib/ukbus		@unikraft/maintainers-device

# These owners oversee the build system.
/lib/Config.uk		@unikraft/maintainers-build
/lib/Makefile.uk	@unikraft/maintainers-build
/Makefile		@unikraft/maintainers-build
/Makefile.uk		@unikraft/maintainers-build
/support		@unikraft/maintainers-build

# These owners oversee the debugging support.
/lib/ukdebug		@unikraft/maintainers-debug

# These owners oversee internal use of Rust within Unikraft.
/lib/ukrust		@unikraft/maintainers-lang-rust

# These owners oversee testing within Unikraft.
/lib/uktest		@unikraft/maintainers-test
tests/test_*		@unikraft/maintainers-test

lib/ukswrand: add network as an entropy source
  lib/Makefile.uk
  lib/blake3/Makefile.uk
  lib/ukblake3/Config.uk
  lib/ukblake3/Makefile.uk
  lib/ukblake3/blake3.c
  lib/ukblake3/blake3_dispatch.c
  lib/ukblake3/blake3_impl.h
  lib/ukblake3/blake3_portable.c
  lib/ukblake3/example.c
  lib/ukblake3/include/uk/blake3.h
  lib/ukrand/Config.uk
  lib/ukrand/entropy.c
  lib/ukrand/exportsyms.uk
  lib/ukrand/include/uk/entropy.h
  lib/ukrand/include/uk/rdrand.h
  lib/ukrand/rdrand.c
  plat/drivers/virtio/virtio_net.c
  plat/kvm/irq.c
Owners: @unikraft/maintainers-build, @unikraft/maintainers-core, @unikraft/maintainers-plat, @unikraft/maintainers-plat-kvm

Release: v0.9.0 Hyperion
  README.md
  version.mk
Owners: @unikraft/maintainers-core

lib/ukswrand: refactor some namings
  lib/ukcpuid/cpuid.c
  lib/ukrand/entropy.c
Owners: @unikraft/maintainers-core

include/arch: Add config.h
  include/uk/arch/spinlock.h
Owners: @unikraft/maintainers-api

include/arm64: Add essentials header
  arch/arm/arm64/include/uk/asm/spinlock.h
Owners: @unikraft/maintainers-arch-arm

include/arch: Add macro check and fix spelling
  include/uk/arch/spinlock.h
Owners: @unikraft/maintainers-api

plat/arm/lcpu: Fix warnings about unused variables
  plat/common/arm/lcpu.c
Owners: @unikraft/maintainers-plat

build: Consider obj-only libs for linking
  support/build/Makefile.build
Owners: @unikraft/maintainers-build

lib/ukstore: Add dynamic entry registration
  lib/ukstore/exportsyms.uk
  lib/ukstore/include/uk/store.h
  lib/ukstore/store.c
Owners: @unikraft/maintainers-core

lib/nolibc: Add socklen_t to shareddefs
  lib/nolibc/include/nolibc-internal/shareddefs.h
Owners: @unikraft/maintainers-core

lib/uksgx: refactor wrmsr and add encls macro
  lib/uksgx/include/uk/sgx_asm.h
  lib/uksgx/include/uk/sgx_cpu.h
  lib/uksgx/sgx_ioctl.c
  lib/uksgx/sgx_main.c
  lib/uksgx/sgx_utils.c
Owners: @unikraft/maintainers-core

lib/posix-procfs: Add support for the proc filesystem
  lib/Makefile.uk
  lib/posix-procfs/Config.uk
  lib/posix-procfs/Makefile.uk
  lib/posix-procfs/README.md
  lib/posix-procfs/exportsyms.uk
  lib/posix-procfs/procfs.h
  lib/posix-procfs/procfs_vfsops.c
  lib/posix-procfs/procfs_vnops.c
  lib/ukboot/boot.c
  lib/ukboot/version.c
  lib/vfscore/mount.c
Owners: @unikraft/maintainers-build, @unikraft/maintainers-core, @unikraft/maintainers-fs

lib/uksgx: add encls C interface, working on paging
  lib/uksgx/include/uk/sgx_arch.h
  lib/uksgx/include/uk/sgx_asm.h
  lib/uksgx/sgx_ioctl.c
Owners: @unikraft/maintainers-core

lib/vfscore: Add eventpoll API
  lib/vfscore/Makefile.uk
  lib/vfscore/eventpoll.c
  lib/vfscore/exportsyms.uk
  lib/vfscore/file.c
  lib/vfscore/include/vfscore/eventpoll.h
  lib/vfscore/include/vfscore/file.h
  lib/vfscore/include/vfscore/vnode.h
  lib/vfscore/syscalls.c
Owners: @unikraft/maintainers-fs

lib/nolibc: Add epoll.h
  lib/nolibc/include/sys/epoll.h
Owners: @unikraft/maintainers-core

plat/kvm/x86: Add call to _init_paging in setup.c
  plat/kvm/x86/setup.c
Owners: @unikraft/maintainers-plat-kvm

plat/x86: add ring3 support when paging is enabled
  plat/common/include/x86/paging.h
Owners: @unikraft/maintainers-plat

lib/uksgx: add physical-virtual addr mapping for SGX memory
  lib/uksgx/include/uk/sgx_internal.h
  lib/uksgx/sgx_main.c
Owners: @unikraft/maintainers-core

lib/uksgx: add virtual address debug info
  lib/uksgx/sgx_main.c
Owners: @unikraft/maintainers-core

lib/uknetdev: Register the metrics to the device
  lib/uknetdev/Config.uk
  lib/uknetdev/include/uk/netdev_core.h
Owners: @unikraft/maintainers-net

lib/uknetdev: Add send/receive instrumenting
  lib/uknetdev/include/uk/netdev.h
  lib/uknetdev/netdev.c
Owners: @unikraft/maintainers-net

lib/uknetdev: Add getter to access metrics
  lib/uknetdev/exportsyms.uk
  lib/uknetdev/include/uk/netdev.h
  lib/uknetdev/netdev.c
Owners: @unikraft/maintainers-net

lib/uksgx: map EPC physical address to virtual address space
  lib/uksgx/sgx_main.c
Owners: @unikraft/maintainers-core

build: Update reference to `liftoff`
  Config.uk
Owners: @unikraft/maintainers-core

lib/uksgx: enforce SGX page size as 4K
  lib/uksgx/sgx_main.c
Owners: @unikraft/maintainers-core

lib/ukswrand: add demo changes
  lib/ukcpuid/cpuid.c
  lib/ukrand/entropy.c
  lib/ukrand/exportsyms.uk
  lib/ukrand/hwrand.c
  lib/ukrand/include/sys/random.h
  lib/ukrand/include/uk/entropy.h
  lib/ukrand/include/uk/hwrand.h
  lib/ukrand/random.c
  lib/ukrand/swrand.c
  lib/uksp/include/uk/sp.h
Owners: @unikraft/maintainers-core, @unikraft/maintainers-security

lib/uksgx: working on sgx_ioc_enclave_create
  lib/uksgx/include/uk/sgx_cpu.h
  lib/uksgx/include/uk/sgx_internal.h
  lib/uksgx/sgx_encl.c
  lib/uksgx/sgx_ioctl.c
  lib/uksgx/sgx_main.c
  lib/uksgx/sgx_page_cache.c
Owners: @unikraft/maintainers-core

plat/kvm/x86: Add call to _init_paging in setup.c
  plat/kvm/x86/setup.c
Owners: @unikraft/maintainers-plat-kvm

lib/uksgx: `sgx_alloc_page` finished, working on `sgx_encl_create`
  lib/uksgx/Makefile.uk
  lib/uksgx/include/uk/sgx_cpu.h
  lib/uksgx/include/uk/sgx_internal.h
  lib/uksgx/sgx_encl.c
  lib/uksgx/sgx_ioctl.c
  lib/uksgx/sgx_main.c
  lib/uksgx/sgx_page_cache.c
Owners: @unikraft/maintainers-core

plat/kvm/x86: sync setup.c with original repo
  plat/kvm/x86/setup.c
Owners: @unikraft/maintainers-plat-kvm

plat/kvm/x86: sync setup.c with original repo
  plat/kvm/x86/setup.c
Owners: @unikraft/maintainers-plat-kvm

include/uk/plat: Add balloon interaction calls
  include/uk/plat/balloon.h
Owners: @unikraft/maintainers-api

plat/drivers/include: Add balloon driver calls
  plat/drivers/include/balloon/balloon.h
Owners: @unikraft/maintainers-plat

plat/drivers: Add KVM balloon implementation
  plat/drivers/balloon/balloon_drv.c
Owners: @unikraft/maintainers-plat

plat/kvm: Add KVM balloon driver calls
  plat/kvm/Config.uk
  plat/kvm/Makefile.uk
  plat/kvm/balloon.c
Owners: @unikraft/maintainers-plat-kvm

plat/linuxu: Add Linuxu balloon stubs
  plat/linuxu/Makefile.uk
  plat/linuxu/balloon.c
Owners: @unikraft/maintainers-plat-linuxu

lib/ukallocbbuddy: Insert balloon API calls
  lib/ukallocbbuddy/bbuddy.c
Owners: @unikraft/maintainers-mem

plat/xen: Add Xen balloon hypervisor calls
  plat/xen/Makefile.uk
  plat/xen/balloon.c
Owners: @unikraft/maintainers-plat-xen

lib/ukring: Fix build when ukring is enabled
  lib/ukring/include/uk/ring.h
  lib/ukring/ring.c
Owners: @unikraft/maintainers-core

Add workaround for compilation with clang (#1)
  Makefile
  plat/common/pci_ecam.c
Owners: @unikraft/maintainers-build, @unikraft/maintainers-plat
